@font-face {
    font-family: 'leaflet-html-legend-icon';
    src: url(data:font/ttf;base64,AAEAAAALAIAAAwAwT1MvMg8SBYMAAAC8AAAAYGNtYXAXU9KOAAABHAAAAFRnYXNwAAAAEAAAAXAAAAAIZ2x5ZgAhPjMAAAF4AAAChGhlYWQNXgSVAAAD/AAAADZoaGVhB8IDxwAABDQAAAAkaG10eA4AAAAAAARYAAAAGGxvY2EBagDgAAAEcAAAAA5tYXhwAAwAewAABIAAAAAgbmFtZVA88dwAAASgAAABYnBvc3QAAwAAAAAGBAAAACAAAwNVAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpBAPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAOAAAAAoACAACAAIAAQAg6QT//f//AAAAAAAg6QP//f//AAH/4xcBAAMAAQAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAAFAAAAEgQAAxIADwAiAFUAXAB4AAAlNy4BNTQ2Nw4BBx4DFxM0JiMiBhUUFjMyNjU0NjMyNjU3HAEHDgMPAQ4BIyImJy4BNTQ2Ny4DJy4BNTQ2Nz4DMzIWFzc+ATMyFhceARUTFAYHEx4BBRQGBw4BBw4DIzc+AzcuASc3HgEXHgEVAT0tMjgSEUNuKRY2PUUm3hALSGYRCwsQRjELENABLVpaWi0cAwkECDwJBAUVBClNRDsZBQYGBStsf5BPGjQZHwIJBQc8CQQFFVpLoAMCAQAGBQ4gESpjb3pAKj9yZVUiIFEwJDVkIgUGvFEkbT0iQh0iaT8iPzctEQGyCxBmSAsQEAsyRRELbQEDAVGioqJRMwQFIwUDCAUHJAcTMj1GJwgVCgsUCUFrTCkFBDcEBSMFAggF/wBPgxwBHgwYVQsTCRYqEzBNNR1MBSpCWDQyVSFAI2Y3ChMLAAADAAAASQQAAtsAIAAzAFMAAAEuASceARUUDgIjIi4CNTQ2Nw4BBx4DMzI+AjclNCYjIgYVFBYzMjY1NDYzMjY1BRQGBw4DIyIuAicuATU0Njc+AzMyHgIXHgEDtyluQxESKEZdNTVdRigSEUNuKSVfb39FRX9vXyX+ZBALSGYRCwsQRjELEAHlBgUobYKSTEySgm0oBQYGBShtgpJMTJKCbSgFBgGSP2kiHUIiNF5FKSlFXjQiQh0iaT84XkQmJkReONwLEGZICxAQCzFGEQvcChQJQWtMKipMa0EJFAoLFAlAa0wqKkxrQAkUAAEAAAABAAAHe+ufXw889QALBAAAAAAA1R/gQwAAAADVH+BDAAAAAAQAAxIAAAAIAAIAAAAAAAAAAQAAA8D/wAAABAAAAAAABAAAAQAAAAAAAAAAAAAAAAAAAAYEAAAAAAAAAAAAAAACAAAABAAAAAQAAAAAAAAAAAoAFAAeAMwBQgAAAAEAAAAGAHkABQAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAOAK4AAQAAAAAAAQAEAAAAAQAAAAAAAgAHAEUAAQAAAAAAAwAEAC0AAQAAAAAABAAEAFoAAQAAAAAABQALAAwAAQAAAAAABgAEADkAAQAAAAAACgAaAGYAAwABBAkAAQAIAAQAAwABBAkAAgAOAEwAAwABBAkAAwAIADEAAwABBAkABAAIAF4AAwABBAkABQAWABcAAwABBAkABgAIAD0AAwABBAkACgA0AIBpY29uAGkAYwBvAG5WZXJzaW9uIDEuMABWAGUAcgBzAGkAbwBuACAAMQAuADBpY29uAGkAYwBvAG5pY29uAGkAYwBvAG5SZWd1bGFyAFIAZQBnAHUAbABhAHJpY29uAGkAYwBvAG5Gb250IGdlbmVyYXRlZCBieSBJY29Nb29uLgBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA);
    font-weight: normal;
    font-style: normal;
}

[class*="leaflet-html-legend-icon"] {
    font-family: 'leaflet-html-legend-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.leaflet-html-legend-icon-eye-slash:before {
    content: "\e903";
}

.leaflet-html-legend-icon-eye:before {
    content: "\e904";
}

.leaflet-html-legend {
    background: #FFF;
    border: 2px solid #FFF;
    padding: 6px;
    max-height: 250px;
    overflow-y: auto;
    line-height: 1.2;
    width: 250px;

}

.leaflet-html-legend h4 {
    margin: 0 0 4px 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

.leaflet-html-legend h4:hover {
    background: #F6F6F6;
}

.leaflet-html-legend h4 > span {
    margin-left: 18px;
    color: #333;
}

.leaflet-html-legend h4.closed + .legend-elements {
    display: none;
}

.leaflet-html-legend .legend-elements {
    padding-left: 5px;
}

.leaflet-html-legend .symbol {
    margin-right: 6px;
    display: inline-flex;
    vertical-align: middle;
}

.leaflet-html-legend label {
    max-width: 200px;
    display: inline-block;
    vertical-align: middle;
    word-wrap: break-word;
    color: #555;
    font-size: 11px;
    font-weight: 400;
}

.legend-block {
    position: relative;
    margin-right: 7px;
    width: 100%;
}

.legend-block + .legend-block {
    margin-top: 8px;
    border-top: 1px solid #EEE;
    padding-top: 4px;
}

/* force OSX to show a scrollbar */
.leaflet-html-legend::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.leaflet-html-legend::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.leaflet-html-legend::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* from http://lugolabs.com/caret */
.leaflet-html-legend .legend-caret {
    position: relative;
    display: inline-block;
    vertical-align: top;
    top: 0.5em;
    left: 0;
}

.leaflet-html-legend .legend-caret:before {
    content: '';
    position: absolute;
    top: -2px;
    left: 3px;
    border-top: 0.5em solid #555;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
}

.leaflet-html-legend h4.closed .legend-caret {
    top: 0.25em;
    left: 0.25em;
}

.leaflet-html-legend h4.closed .legend-caret:before {
    border-left: 0.5em solid #555;
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
}

/* opacity slider */
.leaflet-html-legend .slider-label {
    font-size: 0.8em;
    margin-right: 10px;
}

.leaflet-html-legend .opacity-slider {
    display: inline-flex;
    padding: 4px;
    font-size: 14px;
    margin-top: 5px;
}

.leaflet-html-legend .opacity-slider .icon {
    margin: 0 3px;
    font-size: 0.8em;
}

.leaflet-html-legend .opacity-slider input[type=range] {
    -webkit-appearance: none;
    width: 50%;
    cursor: ew-resize;
    opacity: 0.5;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    -moz-transform: translateY(-0.3em);
}

.leaflet-html-legend .opacity-slider input[type=range]:focus {
    outline: none;
}

.leaflet-html-legend .opacity-slider input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    animate: 0.2s;
    background: #ddd;
    border: none;
}

.leaflet-html-legend .opacity-slider input[type=range]::-webkit-slider-thumb {
    border: 0px solid #000000;
    height: 12px;
    width: 12px;
    border-radius: 7px;
    background: #333;
    -webkit-appearance: none;
    margin-top: -3.6px;
}

.leaflet-html-legend .opacity-slider input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ddd;
}

.leaflet-html-legend .opacity-slider input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    animate: 0.2s;
    background: #ddd;
    border: none;
}

.leaflet-html-legend .opacity-slider input[type=range]::-moz-range-thumb {
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 7px;
    background: #333;

}

.leaflet-html-legend .opacity-slider input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}

.leaflet-html-legend .opacity-slider input[type=range]::-ms-fill-lower {
    background: #ddd;
    border: none;
}

.leaflet-html-legend .opacity-slider input[type=range]::-ms-fill-upper {
    background: #ddd;
    border: none;
}

.leaflet-html-legend .opacity-slider input[type=range]::-ms-thumb {
    border: 0px solid #000000;
    height: 12px;
    width: 12px;
    border-radius: 7px;
    background: #333;

}

.leaflet-html-legend .opacity-slider input[type=range]:focus::-ms-fill-lower {
    background: #ddd;
}

.leaflet-html-legend .opacity-slider input[type=range]:focus::-ms-fill-upper {
    background: #ddd;
}

.leaflet-html-legend .visibility-toggle {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.leaflet-html-legend .visibility-toggle.disabled {
    color: #666;
    opacity: 0.5;
}
